/*Logo circle icon*/
.logo {
    height: 2em;
    width: 2em;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
/*Navbar section*/
.nav-link {
    color: #000;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/*The home section background img set up*/
.background-img{
    height: 100dvh;
    width: 100%;
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column; 
    justify-content: center; /* Centers content vertically */
    align-items: center;     /* Centers content horizontally */
    text-align: center;      /* Centers text within each flex item */
}
/*Home section text css*/
.background-img h1{
    font-size: 10.5dvw;
    margin-top: 5.5dvh;
}
.background-img p, .background-img span{
    font-size: 4.5dvw;
}
.text-container{
    display: flex;
    flex-direction: row;
}
/*About me section*/
.about-me{
    margin: 15dvh 3dvw 3dvh 3dvw;
    padding: 4rem;
    background-color: #f2f2f2;
}
.img-thumbnail{
    background-color: transparent !important;
}
.profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.profile div{
    width: 100%;
    
    align-content: center;
}
.paragraph{
    margin-top: 15px;
}
.paragraph p{
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph h3{
    position: relative;
    display: inline-block;
}
.paragraph h3::after {
    content: ''; 
    position: absolute; /* Positions relative to the h3 */
    left: 0; /* Starts from the left edge of the h3 */
    bottom: 0; /* Aligns to the bottom of the h3 */
    width: 50%; /* Set this to control the width of the underline */
    height: 3px; /* Thickness of the underline */
    background-color: #0D6EFD; /* Color of the underline */
}
.skill {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 10px; /* Adds space between the icon, text/progress bar */
    width: 100%;
    margin-top: 10px;
}
.textAndBar {
    display: flex;
    flex-direction: column; /*Stacks children vertically*/ 
    align-items: flex-start; /*Aligns children to the start of the flex container*/ 
    gap: 5px; /*Adds space between items*/ 
    width: 100%;
}
.skill p {
    margin: 0; /* Removes default margin to align text properly */
    white-space: nowrap; /* Keeps the label on the same line */
    flex-shrink: 0; /* Prevents the label from shrinking */
}
.progress {
    flex-grow: 1; /* Allows the progress bar to take up the remaining space */
    height: 20px; /* Sets a fixed height for the progress bars */
    width: 100%;
    background-color: #cde1f8;
}

/*Projects section*/
#projects{
    margin-top: 5rem;
}
.projects{
    justify-content: center;
    padding: 10px;
    gap: 45px;
}
#projects h1{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
.project{
    padding: 10px;
    background-color: #fff;
    border: none;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4); /* Add initial shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}
.project:hover {
    transform: translateY(-10px); /* Slightly lift the card */
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6); /* Increase shadow on hover */
}
.card-body{
    padding: 0px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-body a{
    width: 100%;
}
.fa-hospital{
    color: #007bff;
}
.fa-money-bill-trend-up{
    color: #28a745;
}
.fa-computer{
    color: #6c757d;
}
.fa-vector-square{
    color: #6f42c1;
}
.fa-cloud{
    color: #e36209;
}
/*Setting the Text inside the cloud icon*/
.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container .fa-icon {
    font-size: 55px;
}

.icon-container.dijiKeyAPI::after {
    content: 'API';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px; 
    font-weight: bold;
    color: white; 
    text-align: center;
    pointer-events: none;
}
/*Fading in the projects*/
.fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.fade-in.visible{
    animation: fadeIn 1s forwards;
}

/*Resume Section*/
#resume{
    margin: 20rem;   
}

/*Contact section*/
#contact{
    margin-top: 10rem;
    margin-bottom: 4rem;
}
.contact{
    padding: 3rem;
    background-color: #f2f2f2;
}
.contact h2{
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}
.contact h2::after{
    content: ''; /* Necessary for the pseudo-element to appear */
    position: absolute; /* Positions relative to the h3 */
    left: 0; /* Starts from the left edge of the h3 */
    bottom: 0; /* Aligns to the bottom of the h3 */
    width: 50%; /* Set this to control the width of the underline */
    height: 3px; /* Thickness of the underline */
    background-color: #0D6EFD; /* Color of the underline */
}
.connectMe p{
    font-size: 18px;
}
.formBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*Footer section*/
.fa-square-github:hover{
    color: #6f42c1 !important;
}
.fa-linkedin:hover{
    color: #0A66C2 !important;
}

/* Media query for screens 992px and wider */
@media (min-width: 992px) {
    /*Home Section CSS*/
    .background-img {
        justify-content: flex-end;
        
    }
    .background-img h1{
        font-size: 5.5dvw;
    }
    .background-img p, .background-img span{
        font-size: 2.5dvw;
        margin-bottom: 9.5dvh;
    }
    /*About me section*/
    .about-me{
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
    .profileAndParagraph, .skills {
        flex: 1;  /*This ensures each section takes up half of the available space*/ 
    }

    /*Contact section*/
    .contact {
        display: flex;
        flex-direction: row;
        gap: 10rem;
    }
    .connectMe, .messageMe{
        flex: 1;
    }
}

/* Media query for screens 991px and smaller(width) */
@media (max-width: 991px) {
   .messageMe{
        margin-top: 3rem;
   }
   .profile{
        display: block;
   } 
   .profile .info{
        margin-top: 2rem;
   }
}


/*Animations*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}